<h1>Perfil del Usuario</h1>

<P>Nombre: {{userFirst_Name}}</P>
<p>Apellido: {{userLast_Name}}</p>
<p>Edad: {{userAge}}</p>
<p>Email: {{userEmail}}</p>
<p>Rol: {{userRole}}</p>

<a href="api/sessions/logout">Cerrar Sesion</a>